/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h2 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 4px;
  margin-bottom: 3px;
}
p {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}
.list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  column-gap: 18px;
  row-gap: 24px;
  justify-content: center;
}
.form {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.input {
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 371px;
  height: 40px;
  padding-left: 10px;
}
.form-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  padding: 0%;
}
.list-item {
  width: 366px;
  height: 200px;
  border: 1px solid #4b4a4a;
}
img {
  width: 366px;
  height: 150px;
  object-fit: cover;
}
.img-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24.5px;
}

.is-hidden {
  display: none;
}

.btn {
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  margin-top: 32px;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-wrapper {
  text-align: center;
  width: 256px;
  height: 24px;
}

.textloader {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.textloader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
